---
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import Layout from "../../../layouts/Layout.astro";
import PostRow from "../../../components/Blog/PostRow.astro";
import LinkButton from "@components/LinkButton.astro";

const posts = (await getCollection("blog"))?.sort(
  (blogEntryA, blogEntryB) =>
    (blogEntryB.data.pubDate || new Date()).getTime() -
    (blogEntryA.data.pubDate || new Date()).getTime(),
);
---

<script>
  import { timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../../../lib/constants";

  const sequence = [loaderAnimation];

  timeline(sequence as TimelineDefinition);
</script>

<Layout
  title="Kito Danylo - Personal Trainer"
  description="Personal Trainer with a strong focus on making you fit!"
>
  <main
    class="w-screen h-screen flex flex-col justify-start items-start max-w-3xl mx-auto p-8"
  >
    <LinkButton link="/de/">Back</LinkButton>
    <h1
      class="text-4xl font-bold mb-4 dark:text-neutral-100 light:text-neutral-800"
    >
      Posts
    </h1>
    <ul class="w-full">
      {
        posts?.map((post) => (
          <PostRow
            title={post.data.title || "No title"}
            date={post.data.pubDate || new Date()}
            url={getRelativeLocaleUrl("en", `blog/${post.slug}`)}
          />
        ))
      }
    </ul>
  </main>
</Layout>
