---
import { Icon } from "astro-icon/components";
import Button from "../Button.astro";

interface Props {
  originLanguage: string;
  targetLanguage: string;
}

const { originLanguage, targetLanguage } = Astro.props;
const languages = {
  de: "Deutsch",
  en: "English",
} as const;
---

<div class="flex gap-4">
  <div class="">
    <Icon name="ri:global-line" class="h-12 w-12 text-align-center" />
  </div>
  <div class="flex flex-row gap-4 flex-justify-star w-md">
    {
      Object.entries(languages).map(([lang, label]) => (
        <a href={`/${lang}/`}>
          <Button>{label}</Button>
        </a>
      ))
    }
  </div>
</div>
