---
import { Icon } from "astro-icon/components";
import { JSDOM } from "jsdom";
import DOMPurify from "dompurify";
import { t } from "i18next";
import { type SUPPORTED_LANGUAGES } from "@lib/constants";

const window = new JSDOM("").window;
const purify = DOMPurify(window);

interface Props {
  originLanguage: SUPPORTED_LANGUAGES;
  targetLanguage: SUPPORTED_LANGUAGES;
}

const { targetLanguage, originLanguage } = Astro.props;

const link = `<a class="text-primary-500" href="/${targetLanguage}/">
          ${t(`languages.${targetLanguage}.label`, { ns: "global" })}
        </a>`;

const paragraphText = purify.sanitize(
  t(`languages.${targetLanguage}.text`, { ns: "global" }).replace("%s", link),
);
---

<div class="flex gap-1 flex-items-center">
  <Icon name="ri:global-line" class="text-align-center" />
  <p class="text-sm italic" set:html={paragraphText} />
</div>
