---
import Layout from "../../layouts/Layout.astro";
import Card from "@components/Card/index.astro";
import LinkButton from "../../components/LinkButton.astro";
import { type App } from "../../env";
import { t } from "i18next";
import { getRelativeLocaleUrl } from "astro:i18n";

const { locale } = Astro.locals as App.Locals;
---

<script>
  import { timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../../lib/constants";

  const sequence = [loaderAnimation];

  timeline(sequence as TimelineDefinition);
</script>

<Layout title="Kito Danylo - Personal Trainer" description={t("layoutTitleHi")}>
  <main
    class="m-auto p-2 max-w-6xl overflow-hidden relative w-full lg:h-screen"
  >
    <Card>
      <div class="text-md">
        <div class="impressum flex flex-col gap-2">
          <h1 class="text-3xl underline">Impressum</h1>
          <p>{t("imprint.law")}</p>
          <p>
            Kito Danylo <br />
            Bollmannsweg 33<br />
            26125 Oldenburg <br />
          </p>
          <p>
            <strong>{t("imprint.represented")} </strong><br />
            Kito Danylo<br />
          </p>
          <p>
            <strong>{t("imprint.contact")}</strong>
            <br />
            {t("imprint.tel")}
            <a href="tel:01744155892"> 0174/4155892 </a>
            <br />
            E-Mail: <a href="mailto:training@kitocoaching.de"
              >training@kitocoaching.de</a
            >
          </p>
          <p>
            <strong>{t("imprint.technical")}</strong><br />
            Jan-Magnus Monenschein <br />
            <a href="mailto:me@janmagnus.dev">me@janmagnus.dev</a>
          </p>
          <p>
            <strong>{t("imprint.copyright")}</strong><br />
            {t("imprint.copyrightNotice")}
          </p>
        </div><br />
        {t("imprint.generator.from")}<a
          href="https://www.impressum-generator.de">Impressum Generator</a
        >
        {t("imprint.generator.of")}
        <a href="https://www.kanzlei-hasselbach.de/rechtsgebiete/familienrecht/"
          >Kanzlei Hasselbach, {t("imprint.generator.lawyers")}</a
        >
      </div>
    </Card>
    <div class="h-[20px]"></div>
    <LinkButton link={getRelativeLocaleUrl(locale, "/")}>{t("back")}</LinkButton
    >
  </main>
</Layout>
