---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card/index.astro";
import LinkButton from "../components/LinkButton.astro";
---

<script>
  import { stagger, spring, timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "@lib/constants";
  const cards = document.querySelectorAll(".card");

  const sequence = [
    loaderAnimation,
    [
      cards,
      { y: ["40%", "0%"], opacity: [0, 1] },
      {
        at: "-0.1",
        duration: 0.4,
        delay: stagger(0.3),
        easing: spring({ velocity: 100, stiffness: 50, damping: 10 }),
      },
    ],
  ];

  timeline(sequence as TimelineDefinition);
</script>

<style>
  .text-shadow {
    text-shadow: 5px 5px dimgrey;
  }
</style>

<Layout
  title="Kito Danylo - Personal Trainer"
  description="Hi, I'm Kito Danylo, a personal trainer from Germany."
>
  <main
    class="m-auto p-2 grid gap-2 max-w-6xl overflow-hidden relative w-full lg:h-screen lg:max-h-[800px]"
  >
    <Card class="mb-2" contentClass="min-h-full max-h-full flex">
      <div
        class="min-h-full max-h-full flex flex-col justify-center items-center flex-auto"
      >
        <h1 class="text-size-9xl drop-shadow-2xl font-bold text-shadow">500</h1>
        <h2 class="text-size-2xl">Interner Serverfehler</h2>
        <p>Es ist etwas auf unserer Seite schief gelaufen 💔</p>
        <LinkButton class="mt-8" link="/">Homepage</LinkButton>
      </div>
    </Card>
  </main>
</Layout>
