---
import Card from "@components/Card/index.astro";
import { LINKS } from "@lib/constants";
import { Icon } from "astro-icon/components";
import { t } from "i18next";

const text = {
  de: {
    title: "Über mich",
    paragraphs: [
      `Ob es der Adrenalinschub vor dem Start eines Sprints, das Gefühl ein
     entscheidendes Tor zu erzielen oder die vollkommene Ruhe beim Yoga ist…
     Bewegung und Sport hat mich in meinem Leben bis heute geprägt.`,
      `Ich möchte so viele Menschen wie möglich inspirieren und gemeinsam Wege
    entwickeln ihre Ziele & Träume anzupacken, sowie bei der Umsetzung
    helfen diese zu verwirklichen!`,
    ],
  },
  en: {
    title: "About me",
    paragraphs: [
      `Hi, I'm Kito Danylo, a personal trainer from Germany.`,
      `Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi
    nulla sapiente cum molestias quam cumque distinctio? Magnam
    consequatur tempora laborum itaque ipsum cum repellendus obcaecati,
    enim, quia, architecto aliquam sit.`,
    ],
  },
};
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-4">
  <div class="h-full">
    <header class="flex items-center">
      <h1 class="text-xl font-bold">{t("contactCard.workout")}</h1>
    </header>
    <div class="grid grid-cols-2 grid-rows-1 h-full content-center">
      <div>
        <address class="flex flex-col mt-4">
          <h2 class="text-gray-500">{t("contactCard.details")}</h2>
          <p>{LINKS.emailOnly}</p>
          <p>Germany</p>
        </address>

        <div class="flex flex-col mt-4 w-fit">
          <h2 class="text-gray-500">{t("socials")}</h2>
          <ul>
            <li>
              <a href={LINKS.email} target="_blank">Email</a>
            </li>
            <li>
              <a href={LINKS.instagram} target="_blank">Instagram</a>
            </li>
            <li>
              <a href={LINKS.xing} target="_blank">Xing</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col flex-content-center justify-center h-full">
        <Icon
          name="solar:dumbbell-large-bold-duotone"
          class="mb-4 h-12 w-12 self-center"
        />
        <p>
          {t("contactCard.text1")}
        </p>
        <p>
          {t("contactCard.text2")}
        </p>
      </div>
    </div>
  </div>
</Card>
