---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
import type { App } from "../env";
import { t } from "i18next";
import { Icon } from "astro-icon/components";

const { locale } = Astro.locals as App.Locals;
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <a href="./offer" target="_blank" class="h-full block flex flex-col">
    <div class="flex justify-between w-full items-start mb-2">
      <div class="flex flex-col">
        <h2>{t("offerCard.title")}</h2>
      </div>
      <Pulse />
    </div>
    <p class="text-xs">{t("offerCard.subtitle")}</p>
    <div class="h-12"></div>
    <div class="flex flex-row flex-justify-between">
      <Icon name="ri:body-scan-fill" class="h-10 w-10" />
      <Icon name="ri:run-fill" class="h-10 w-10" />
      <Icon name="ri:bowl-fill" class="h-10 w-10" />
      <div class="h-8 w-8"></div>
    </div>
  </a>
</Card>
