---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
import type { App } from "../env";
import { t } from "i18next";
import { Icon } from "astro-icon/components";
import { getRelativeLocaleUrl } from "astro:i18n";

const { locale } = Astro.locals as App.Locals;
---

<style>
  .pulse {
    position: relative;
    right: -200px;
  }
</style>

<Card
  colSpan="md:col-span-1"
  rowSpan="md:row-span-2"
  href={getRelativeLocaleUrl(locale, "offer")}
>
  <div class="h-full block flex flex-col">
    <div class="flex flew-row justify-start items-center gap-2">
      <Pulse class="self-center mr-2" />
      <div class="flex flex-col">
        <h2>{t("offerCard.title")}</h2>
        <p class="text-xs">{t("offerCard.subtitle")}</p>
      </div>
    </div>
    <div class="h-12"></div>
    <div class="flex flex-row flex-justify-between relative">
      <Icon name="ri:run-fill" class="h-10 w-10" />
      <Icon name="ri:body-scan-fill" class="h-10 w-10" />
      <Icon name="fa6-solid:carrot" class="h-9 w-9" />
      <div class="h-6 w-6"></div>
    </div>
  </div>
</Card>
