---
import Layout from "../../layouts/Layout.astro";
import Card from "@components/Card/index.astro";
import LinkButton from "../../components/LinkButton.astro";
import { type App } from "../../env";

const { locale } = Astro.locals as App.Locals;
---

<script>
  import { timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../../lib/constants";

  const sequence = [loaderAnimation];

  timeline(sequence as TimelineDefinition);
</script>

<Layout
  title="Kito Danylo - Personal Trainer"
  description="Hi, ich bin Kito Danylo, dein Personal Trainer!"
>
  <main
    class="m-auto p-2 max-w-6xl overflow-hidden relative w-full lg:h-screen"
  >
    <Card>
      <div class="text-md">
        <div class="impressum flex flex-col gap-2">
          <h1 class="text-3xl underline">Impressum</h1>
          <p>Angaben gemäß § 5 DDG</p>
          <p>
            Kito Danylo <br />
            Bollmannsweg 33<br />
            26125 Oldenburg <br />
          </p>
          <p>
            <strong>Vertreten durch: </strong><br />
            Kito Danylo<br />
          </p>
          <p>
            <strong>Kontakt:</strong>
            <br />
            Telefon: <a href="tel:01744155892"> 0174/4155892 </a>
            <br />
            E-Mail: <a href="mailto:training@kitocoaching.de"
              >training@kitocoaching.de</a
            >
          </p>
          <p>
            <strong> Layout u. Technische Umsetzung: </strong><br />
            Jan-Magnus Monenschein <br />
            <a href="mailto:me@janmagnus.dev">me@janmagnus.dev</a>
          </p>
          <p>
            <strong>Urheberrecht: </strong><br />
            Die Inhalte und Werke, die von den Betreibern dieser Seite erstellt wurden,
            unterliegen dem deutschen Urheberrecht. Jegliche Form von Vervielfältigung,
            Bearbeitung, Verbreitung oder sonstiger Nutzung außerhalb der gesetzlich
            erlaubten Grenzen erfordert die vorherige schriftliche Genehmigung. Downloads
            und Kopien dieser Webseite dürfen ausschließlich für private und nicht
            kommerzielle Zwecke verwendet werden. <br />
            Falls Inhalte auf dieser Webseite nicht vom Betreiber selbst stammen,
            werden die Rechte Dritter berücksichtigt und solche Inhalte entsprechend
            gekennzeichnet. Sollte Ihnen dennoch eine mögliche Verletzung des Urheberrechts
            auffallen, bitten wir um einen Hinweis. Sobald wir von etwaigen Rechtsverstößen
            Kenntnis erhalten, werden wir die betreffenden Inhalte unverzüglich entfernen.
          </p>
        </div><br />
        Impressum vom <a href="https://www.impressum-generator.de"
          >Impressum Generator</a
        > der <a
          href="https://www.kanzlei-hasselbach.de/rechtsgebiete/familienrecht/"
          >Kanzlei Hasselbach, Fachanwälte für Familienrecht</a
        >
      </div>
    </Card>
    <div class="h-[20px]"></div>
    <LinkButton link=`/${locale}/`>Back</LinkButton>
  </main>
</Layout>
