---
import Layout from "../../layouts/Layout.astro";
import Card from "@components/Card/index.astro";
---

<script>
  import { timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../../lib/constants";

  const sequence = [loaderAnimation];

  timeline(sequence as TimelineDefinition);
</script>

<Layout
  title="Kito Danylo - Personal Trainer"
  description="Hi, ich bin Kito Danylo, dein Personal Trainer!"
>
  <main
    class="text-white m-auto p-2 max-w-6xl overflow-hidden relative w-full lg:h-screen"
  >
    <Card>
      <div class="impressum">
        <h1>Impressum</h1><p>Angaben gemäß § 5 DDG</p><p>
          Kito Danylo <br />
          Bollmannsweg 33<br />
          26125 Oldenburg <br />
        </p>
        <p>
          <strong>Vertreten durch: </strong><br />
          Kito Danylo<br />
        </p>
        <p>
          <strong>Kontakt:</strong>
          <br />
          Telefon: 01744155892<br />
          E-Mail: <a href="mailto:training@kitocoaching.de"
            >training@kitocoaching.de</a
          >
        </p>
      </div><br />
      Impressum vom <a href="https://www.impressum-generator.de"
        >Impressum Generator</a
      > der <a
        href="https://www.kanzlei-hasselbach.de/rechtsgebiete/familienrecht/"
        >Kanzlei Hasselbach, Fachanwälte für Familienrecht</a
      >
    </Card>
  </main>
</Layout>
